.filter-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    min-height: 20rem;
    background-color: #f5f5f5; /* add a light background color */
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    } 

    .button {
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    margin: 0.6rem;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #f57c00; /* use a warm orange color /
    box-shadow: 0 3px 0 #a84300; / use a darker shade of orange for the box-shadow */
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    .button:hover {
    background-color: #bf4d00; /* use a slightly darker shade of orange on hover */
    }
    
    .button:active {
    box-shadow: 0 1px 0 #8f3900; /* use an even darker shade of orange on active */
    transform: translateY(2px);
    }
    
    label {
    font-size: 1.2rem;
    /* Increase label text size /
    display: block;
    margin-bottom: 5px;
    color: #333; / use a dark gray color for labels */
    }
    
    .filter-input {
    border: 2px solid #ccc;
    border-radius: 5px;
    /* Add border radius /
    padding: 10px;
    font-size: 1.2rem;
    / Increase input text size /
    transition: border-color 0.3s ease;
    color: #333; / use a dark gray color for input text */
    }
    
    input[type="text"]:focus,
    input[type="number"]:focus {
    outline: none;
    border-color: #e86c4f;
    }