.NavBar ul {
    list-style-type: none;
    display: flex;
    background-color: rgb(255, 228, 166);
    height: 3rem;
    margin: auto;
    margin-top: 4rem;
    justify-content: space-around;
    border-radius: 15px;
}

.NavBar li {
    margin: auto 1rem;
    font-size: 1.25rem;
    text-indent: -2.5rem;
}

.NavBar li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.NavBar li a:hover {
    color: rgb(255, 113, 47);
}